@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500;700&family=Roboto:wght@400;500&family=Sen:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container-128, .container-366, .container-238, .container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.container {
  max-width: 1320px;
}

.container-238 {
  max-width: 1064px;
}

.container-366 {
  max-width: 808px;
}

.container-128 {
  max-width: 1284px;
}

.register__btn {
  display: inline-block;
  padding: 24px 64px;
  border-radius: 12px;
  border: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  background-color: #1c1d28;
  color: #ffd2a4;
}
.register__btn:hover {
  background-color: #f2c79b;
  color: #ffffff;
  background-color: #1c1d28;
}

.advantages__header h2, .upcoming__sermons__header h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
}

.advantages__header h6, .upcoming__sermons__header h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: normalpx;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.nav__btn {
  display: inline-block;
  padding: 20px 48px;
  border-radius: 12px;
  border: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  background-color: #ffd2a4;
  color: #1c1d28;
}
.nav__btn:hover {
  background-color: #f2c79b;
}

#hero {
  padding: 128px 0;
}

.hero__link {
  display: inline-block;
  padding: 24px 64px;
  border-radius: 12px;
  border: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  background-color: #ffd2a4;
  color: #1c1d28;
}
.hero__link:hover {
  background-color: #f2c79b;
}

.advantages {
  padding: 128px 0;
}
.advantages__header {
  margin-bottom: 64px;
  text-align: center;
}
.advantages__header h6 {
  margin-bottom: 16px;
}
.upcoming__sermons__header {
  margin-bottom: 32px;
  text-align: center;
}
.upcoming__sermons__header h6 {
  margin-bottom: 16px;
}
.upcoming__sermons__header h2 {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}