@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500;700&family=Roboto:wght@400;500&family=Sen:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#mode-btn {
  border: none;
  background-color: transparent;
}

.mode__img {
  width: 30px;
  height: 30px;
}

#navbar-responsive {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  gap: 50px;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F5F2F0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar__toogle__item {
  padding: 15px 30px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  font-family: Manrope;
  background-color: #FFD2A4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar__toogle__item:hover {
  -webkit-box-shadow: 0px 0px 5px 5px #161722;
          box-shadow: 0px 0px 5px 5px #161722;
}

#navbar-open {
  border: none;
  background-color: transparent;
}
@media (min-width: 1300px) {
  #navbar-open {
    display: none;
  }
}
#navbar-open .navbar__img {
  width: 30px;
  height: 30px;
}

#navbar-close {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 30px;
  right: 30px;
}
#navbar-close img {
  width: 40px;
  height: 40px;
}

#backtop {
  border-radius: 12px;
  z-index: 99;
  border: none;
  position: fixed;
  outline: none;
  right: 20px;
  bottom: -70px;
  background-color: #FFD2A4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#backtop img {
  margin: 15px 10px;
  width: 30px;
  height: 30px;
}

#backtop.backtop-show {
  bottom: 50px;
}

.container-366, .container-238, .container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.container {
  max-width: 1320px;
}

.container-238 {
  max-width: 1064px;
}

.container-366 {
  max-width: 808px;
}

header {
  padding-top: 26px;
  position: fixed;
  width: 100%;
  height: 90px;
  background: #0D0D0D;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 999;
}

.navbar-shrink {
  height: 80px;
  -webkit-box-shadow: 0px 0px 5px 5px #FFD2A4;
          box-shadow: 0px 0px 5px 5px #FFD2A4;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 1000px) {
  .navbar__img {
    max-width: 132px;
  }
}
.navbar__list {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 400px;
}
@media (min-width: 1300px) {
  .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.navbar__item__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
}
.navbar__link {
  font-size: 16px;
  color: #FFF;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.9;
}
.navbar__btn {
  width: 100%;
  border-radius: 12px;
  background: var(--primary, #FFD2A4);
  padding: 20px 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--Black, #1C1D28);
  text-align: center;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}

#footer {
  padding: 64px 0px 64px;
  background: #161722;
}

@media (min-width: 280px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media (min-width: 500px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.wrapper__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrapper__left__img {
  width: 100%;
  margin-bottom: 27px;
}
.wrapper__left__link {
  margin-bottom: 32px;
  font-size: 12px;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.wrapper__left__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

@media (min-width: 280px) {
  .wrapper__middle__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}
@media (min-width: 500px) {
  .wrapper__middle__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 72px;
  }
}
.wrapper__middle__item p {
  margin-bottom: 20px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.wrapper__middle__item__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.wrapper__middle__item__list__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.wrapper__middle__link {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

@media (min-width: 280px) {
  .wrapper__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.wrapper__right__title {
  max-width: 377px;
  font-size: 32px;
  font-style: normal;
  color: #fff;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.32px;
  text-transform: uppercase;
}
@media (min-width: 280px) {
  .wrapper__right__title {
    max-width: 200px;
  }
}
@media (min-width: 500px) {
  .wrapper__right__title {
    max-width: 377px;
    margin-bottom: 50px;
  }
}
@media (min-width: 280px) {
  .wrapper__right__form {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }
}
@media (min-width: 500px) {
  .wrapper__right__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 12px;
  }
}
.wrapper__right__form input {
  outline: none;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 24px 100px 24px 20px;
  background-color: transparent;
}
@media (min-width: 500px) {
  .wrapper__right__form input {
    border: none;
  }
}
.wrapper__right .wrapper__right__btn {
  padding: 24px 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  gap: 16px;
  border-radius: 12px;
  background: var(--primary, #FFD2A4);
}