@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500;700&family=Roboto:wght@400;500&family=Sen:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
body {
  background: var(--Grey, #F5F2F0);
}
.container-128, .container-366, .container-238, .container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.container {
  max-width: 1320px;
}

.container-238 {
  max-width: 1064px;
}

.container-366 {
  max-width: 808px;
}

.container-128 {
  max-width: 1284px;
}

