// /* Header start  */
// .navbar {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     background-color: red;
// }

// .navbar__list {
//     display: flex;
//     align-items: center;
//     gap: 496px;
// }

// .navbar__item__list {
//     display: flex;
//     align-items: center;
//     gap: 48px;
// }

// /* Header end */

header {
    padding-top: 26px;
    position: fixed;
    width: 100%;
    height: 90px;
    background: #0D0D0D;
    transition: 0.5s;
    z-index: 999;
}

.navbar-shrink {
    height: 80px;
    box-shadow: 0px 0px 5px 5px #FFD2A4;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__img {
        @media(min-width:1000px) {
            max-width: 132px;
        }
    }

    &__list {
        display: none;
        align-items: center;
        gap: 400px;

        @media(min-width:1300px) {
            display: flex;
        }
    }

    &__item__list {
        display: flex;
        align-items: center;
        gap: 48px;
    }

    &__link {
        font-size: 16px;
        color: #FFF;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        opacity: 0.9;
    }

    &__btn {
        width: 100%;
        border-radius: 12px;
        background: var(--primary, #FFD2A4);
        padding: 20px 48px;
        align-items: center;
        color: var(--Black, #1C1D28);
        text-align: center;
        font-family: Roboto Condensed;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        text-transform: uppercase;
        backdrop-filter: blur(40px);
    }
}