.events {
    padding-top: 100px;
    padding-bottom: 128px;

    h1 {
        text-align: center;
        color: var(--Black, #161722);
        text-align: center;

        /* Heading h2 */
        font-family: Roboto Condensed;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -0.48px;
        text-transform: uppercase;
    }

    &__cards {
        margin-top: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;




        .events__card {
            margin-top: 70px;
            width: 300px;
            max-width: 100%;
            border: 2px solid red;
            padding-left: 40px;
            padding-bottom: 80px;


            .card__top {
                margin-top: 24px;
                width: 30px;
                margin-left: 170px;

                p {
                    color: var(--Black, #161722);
                    font-size: 24px;
                    font-weight: 700;
                    letter-spacing: -0.24px;
                    text-transform: uppercase;
                }

                h4 {
                    color: #161722;
                    font-size: 16px;
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }

            h6 {
                margin-top: 9px;
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 0.96px;
                text-transform: uppercase;
                color: #DC9853;
            }

            h2 {
                margin-top: 16px;
                max-width: 210px;
                width: 100%;
                color: #161722;
                font-size: 24px;
                font-weight: 700;
                letter-spacing: -0.24px;
                text-transform: uppercase;
            }

            p {
                margin-top: 16px;
                max-width: 214px;
                width: 100%;
                color: #161722;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }

            .card__time {
                margin-top: 32px;
                display: flex;
                align-items: center;
                gap: 16px;

                p {
                    width: 100%;
                    max-width: 137px;
                    color: #161722;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }

        }

        @media(min-width: 650px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            justify-content: space-between;
        }

        @media(min-width: 1240px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            align-items: center;
            justify-content: space-between;
        }
    }
}