 <footer id="footer">
    <div class="container">
       <div class="wrapper">
        <div class="wrapper__left">
          <img src="images/footer.logo.svg" alt="logo" class="wrapper__left__img">
          <a href="" class="wrapper__left__link">© Copyright Finsweet 2022</a>
          <ul class="wrapper__left__list">
            <li class="wrapper__item"><a href="#" class="wrapper__left__link">(480) 555-0103</a></li>
            <li class="wrapper__item"><a href="#" class="wrapper__left__link">4517 Washington Ave. </a></li>
            <li class="wrapper__item"><a href="#" class="wrapper__left__link">finsweet@example.com</a></li>
          </ul>
        </div>
        <div class="wrapper__middle">
           <ul class="wrapper__middle__list">
              <li class="wrapper__middle__item">
                 <p class="wrapper__text">Quicklinks</p>
                 <ul class="wrapper__middle__item__list">
                  <li class="wrapper__middle__item__list__item"><a href="#" class="wrapper__middle__link">About us</a></li>
                  <li class="wrapper__middle__item__list__item"><a href="#" class="wrapper__middle__link">Sermons</a></li>
                  <li class="wrapper__middle__item__list__item"><a href="#" class="wrapper__middle__link">Events</a></li>
                  <li class="wrapper__middle__item__list__item"><a href="#" class="wrapper__middle__link">Blog</a></li>
                 </ul>
              </li>
              <li class="wrapper__middle__item">
                 <p class="wrapper__text"> Connect </p>
                 <ul class="wrapper__middle__item__list__imgs">
                  <li class="wrapper__middle__item__list__item"><a href="#" class="wrapper__link">
                    <img src="images/footer.facebook.svg" alt="logo">
                  </a></li>
                  <li class="wrapper__middle__item__list__item"><a href="#" class="wrapper__link">
                    <img src="images/footer.twitter.svg" alt="logo">
                  </a></li>
                  <li class="wrapper__middle__item__list__item"><a href="#" class="wrapper__link">
                    <img src="images/footer.in.svg" alt="logo">
                  </a></li>
                 </ul>
              </li>
           </ul>
        </div>
        <div class="wrapper__right">
           <h2 class="wrapper__right__title">Subscribe to get Latest Updates and News</h2>
           <div class="wrapper__right__form">
            <input type="email" name="email" id="email" placeholder="Yourmail@gmail.com">
            <button class="wrapper__right__btn">Subscribe</button>
           </div>
        </div>
       </div>
    </div>
  </footer>