<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HOME</title>
  <link rel="stylesheet" href="css/home.min.css" />
</head>
<body>
  <button id="backtop">
    <a href="#">
      <img src="images/backtop.svg" alt="backtop">
    </a>
  </button>
  <header id="navbar">

    <nav class="container">
      <div class="navbar">
        <img  class="navbar__img" src="images/headerlogo.svg" alt="logo">
        <button id="mode-btn">
          <img class="mode__img" src="images/dark.svg" alt="dark" />
        </button>
        <ul class="navbar__list">
          <li class="navbar__item">
            <ul class="navbar__item__list">
              <li class="navbar__item"><a href="#" class="navbar__link">Home</a></li>
              <li class="navbar__item"><a href="#" class="navbar__link">About us</a></li>
              <li class="navbar__item"><a href="#" class="navbar__link">Sermon</a></li>
              <li class="navbar__item"><a href="#" class="navbar__link">Blog</a></li>
            </ul>
            
          </li>
          <li class="navbar__item">
            <a class="navbar__btn" href="./pages/contact.html">Contact us</a>
          </li>
        </ul>
        <button id="navbar-open">
          <img class="navbar__img" src="images/menu.svg" alt="menu" />
        </button>
      </div>
    </nav>
    <ul id="navbar-responsive">
      <button id="navbar-close">
        <img src="images/close.svg" alt="logo">
      </button>
      <li class="navbar__toogle__item"><a href="#" class="navbar__link">Home</a></li>
      <li class="navbar__toogle__item"><a href="#" class="navbar__link">About us</a></li>
      <li class="navbar__toogle__item"><a href="#" class="navbar__link">Sermon</a></li>
      <li class="navbar__toogle__item"><a href="#" class="navbar__link">Blog</a></li>
      <li class="navbar__toogle__item"><a href="#" class="navbar__link">Contact us</a></li>
    </ul>
  </header>
  <main>
  </main>
</body>
</html>
