<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/contact.min.css">
</head>
<body>
    <div class="events container">
        <h1>View All Events</h1>
        <div class="events__cards">
            <div class="events__card">
                <div class="card__top">
                    <p>20</p>
                    <h4>July</h4>
                </div>
                <h6>Upcoming Event</h6>
                <h2>100 random acts of kindness</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="card__time">
                    <img src="../images/Clock icon.svg" alt="">
                    <p>Friday 23:39 IST Saturday 11:20 ISD</p>
                </div>
                <div class="card__time">
                    <img src="../images/Icon (7).svg" alt="">
                    <p>No 233 Main St. New York, United States</p>
                </div>

            </div>
            <div class="events__card">
                <div class="card__top">
                    <p>20</p>
                    <h4>July</h4>
                </div>
                <h6>Upcoming Event</h6>
                <h2>100 random acts of kindness</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="card__time">
                    <img src="../images/Clock icon.svg" alt="">
                    <p>Friday 23:39 IST Saturday 11:20 ISD</p>
                </div>
                <div class="card__time">
                    <img src="../images/Icon (7).svg" alt="">
                    <p>No 233 Main St. New York, United States</p>
                </div>

            </div>
            <div class="events__card">
                <div class="card__top">
                    <p>20</p>
                    <h4>July</h4>
                </div>
                <h6>Upcoming Event</h6>
                <h2>100 random acts of kindness</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="card__time">
                    <img src="../images/Clock icon.svg" alt="">
                    <p>Friday 23:39 IST Saturday 11:20 ISD</p>
                </div>
                <div class="card__time">
                    <img src="../images/Icon (7).svg" alt="">
                    <p>No 233 Main St. New York, United States</p>
                </div>

            </div>
            <div class="events__card">
                <div class="card__top">
                    <p>20</p>
                    <h4>July</h4>
                </div>
                <h6>Upcoming Event</h6>
                <h2>100 random acts of kindness</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="card__time">
                    <img src="../images/Clock icon.svg" alt="">
                    <p>Friday 23:39 IST Saturday 11:20 ISD</p>
                </div>
                <div class="card__time">
                    <img src="../images/Icon (7).svg" alt="">
                    <p>No 233 Main St. New York, United States</p>
                </div>

            </div>
        </div>
    </div>
</body>
</html>